table {
    border-collapse: collapse;
    width: 100%;
}

body {
    font-family: "DejaVu Sans";
}

th {
    background-color: #51a9af;
    color: white;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

