table {
    border-collapse: collapse;
    width: 100%;
}

body {
    font-family: "DejaVu Sans";
}

th, td {
    word-break: break-word;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: #51a9af;
    color: white;
    min-width: 14ch;
    word-break: unset;
}